body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e7f5f9;
}

h1 {
    text-align: center;
    color:#08a4cf;
    background-color: lavenderblush;
    padding: 30px;
    margin-top: 0px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.container {
    display: flex;
    flex-direction: row;
}

.navigation {
    background-color:lavenderblush;
    display: flex;
    min-width: 300px;
    min-height: 850px;

}

.search {
    display: flex;
    align-items: center;
}

input {
    background-color:#e7f5f9;
}

button {
    background-color:#08a4cf;
    color:#e7f5f9;
}

img {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h2 {
    text-align: center;
}

p {
    background-color:#e7f5f9;
    padding: 20px;
    text-align: center;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    color: #08a4cf;
    font-size: 24px;
}


footer {
    background-color:#e7f5f9
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}